html, body {
    background: #222 ;
}


#logo 
{
    padding: 1em;
    font-family: 'Oswald', sans-serif;
}

#logo h1 
{
    color: #2e5e84;
    font-size: 5.5em;
}

#googleplus {
    float: right;
    padding-top: 0.4em;
}

#email-link {
    float: right;
    margin-right: 5em;
    margin-top: 0.4em;
}

#header, #footer {
    background: url('images/bg.png') repeat
}

#footer {
    margin-bottom: 0.2em;
    padding: 0.5em;
}

#social-network a img 
{
    opacity:0.7;
    filter:alpha(opacity=70);
    height: 32px;
    width: 32px;
}

#social-network a img:hover
{
    opacity:1;
    filter:alpha(opacity=100); 
}

.carousel-inner div.item {
    height: 370px;
}

.carousel-content {
    height: 100%;
    position: relative;
}

.carousel-content img {
    position: absolute; 
    bottom: 0;
}

.carousel {
    margin-bottom: 0;
}
